@{
    ViewBag.Title = "Request Enhancements jQueue System";
}
<h1>Request Enhancement Queue System</h1>
<br/>

<table class="linkstable" height="50">
    <tr>
        <td>
            <div class="reportProblem">
                @Html.ActionLink("Report a Problem", "ProcessRequest", "ReportRequest")
            </div>
        </td>
    </tr
    <tr>
        <td>
            <div class="login">
                @Html.ActionLink("Login", "index", "Login")
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="register">
                @Html.ActionLink("Register", "index", "Login")
            </div>
        </td>
    </tr>
</table>


