
@{
    ViewBag.Title = "Home-Request Enhancement Queue System";
}

<h2>Welcome!</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            @Html.ActionLink("New User? Register", "Register", "Login")
        </div>
        <br/>
        <div class="col-lg-4">
            @Html.ActionLink("Already Registered? Login Here","Login","Login")
        </div>
    </div>
</div>

<div>

</div>

<script>
    $(".row").css("foreground-color", "golden")
</script>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    
}
