@model Domain.Classes.StakeHolder

@{
    ViewBag.Title = "Index";
}

<h2>Hi @Model.StakeHolderOrganization, Welcome to the Request Enhancement Queue System!</h2>

<br/>
<br/>

<div>
    <h4>
        What would you like to do today?
    </h4>
</div>

<div>
    @Html.ActionLink("Report a Request", "ProcessRequest", "ReportRequest", new { stakeHolderId = Model.StakeHolderId},null)
</div>
<br/>
<div>
    @Html.ActionLink("View Reported Requests","ViewReportedRequests","ReportRequest", new { stakeHolderId = Model.StakeHolderId},null)
</div>
<br/>
<div>
    @Html.ActionLink("Log out","Logout","Login")
</div>


